<div class="container">

    <!-- Breadcrumb Navigation -->
    <nav class="breadcrumb mt-2" aria-label="breadcrumbs">
    <ul>
        <li><a class="has-text-primary" href="/">Home</a></li>
        <li class="is-active"><a href="#" aria-current="page">Users</a></li>
    </ul>
    </nav>

    <h2 class="is-size-3 has-text-weight-semibold has-text-centered">Recent Users</h2>

    <section class="section">
        <table class="table is-striped is-fullwidth">
            <tbody>
            <% User.all.reverse.first(20).each do |user| %>
                <tr>
                    <td>
                        <a class="has-text-grey" href="/users/<%= user.slug %>">
                            <span class="icon">
                                <i class="<%= user.icon %>"></i>
                            </span>
                            <%= user.username %>
                        </a>
                    </td>
                    <td>
                        <p><%= user.supplies.count %> Supplies in <%= user.categories.count %> Categories</p>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </section>

</div>