<div class="container pt-6">
    <h2 class="is-size-3 has-text-weight-semibold">Recent Users</h2>

    <section class="section">
        <table class="table">
            <tbody>
            <% User.all.each do |user| %>
                <tr>
                    <td>
                        <a class="has-text-grey" href="/users/<%= user.id %>"><%= user.username %></a>
                    </td>
                    <td>
                        <p><%= user.supplies.count %></p>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </section>
    
</div>


<% User.all.each do |user| %>
<article class="media has-background-primary-light">
    <figure class="media-left">
        <span class="icon">
            <i class="fas fa-home"></i>
        </span>
    </figure>
    <div class="media-content">
        <div class="content">
            <a class="has-text-grey" href="/users/<%= user.id %>"><%= user.username %></a>
        </div>
    </div>
    <div class="media-right">
        <div class="content">
            <p><%= user.supplies.count %></p>
        </div>
    </div>
</article>
<% end %>
