<div class="container">

    <!-- Breadcrumb Navigation -->
    <nav class="breadcrumb mt-2 mb-5" aria-label="breadcrumbs">
    <ul>
        <li><a class="has-text-primary" href="/">Home</a></li>
        <li class="is-active"><a aria-current="page" href="#">Supplies</a></li>
    </ul>
    </nav>

    <h2 class="title has-text-centered">Recent Supplies</h2>

    <section class="section">
        <div class="columns is-multiline">

            <div class="column is-3">
                <aside class="menu">
                    <p class="menu-label">
                        Categories
                    </p>
                    <ul class="menu-list">
                    <% Category.all.each do |category| %>
                        <li><a href="/categories/<%= category.slug %>"><%= category.name %></a></li>
                    <% end %>
                    </ul>
                </aside>
            </div>

            <div class="column">

            <div class="columns is-multiline">
                <% Supply.all.limit(16).each do |supply| %>
                    <div class="column is-one-fifth-widescreen is-one-third-tablet">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title"><%= supply.name %></p>
                            </header>
                            <div class="card-image">
                                <figure class="image is">
                                    <img src="https://via.placeholder.com/150x100.png" alt="Placeholder Image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    <p><%= supply.description %></p>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="/supplies/<%= supply.id %>" class="card-footer-item has-text-primary">View</a>
                            </footer>
                        </div>
                    </div>
                <% end %>
            </div>

            </div>

        </div>
    </section>
</div>

