<div class="container">

    <!-- Breadcrumb Navigation -->
    <nav class="breadcrumb mt-2 mb-5" aria-label="breadcrumbs">
    <ul>
        <li><a class="has-text-primary" href="/">Home</a></li>
        <li><a class="has-text-primary" href="/users">Users</a></li>
        <li><a class="has-text-primary" href="/users/<%= current_user.slug %>"><%= current_user.username %>'s Profile</a></li>
        <li><a class="has-text-primary" href="/users/<%= current_user.slug %>/supplies"><%= current_user.username %>'s Supplies</a></li>
        <li class="is-active"><a aria-current="page" href="#">Edit <%= @supply.name %></a></li>
    </ul>
    </nav>
    
    <h2 class="title has-text-centered"><%= @supply.name %></h2>

    <div class="columns is-centered">
        <div class="column is-half">
            <section class="section has-background-primary-light box has-text-centered">
                <section class="block">
                    <h3 class="title">Category</h3>
                        <a href="/categories/<%= @supply.category.slug %>"><span class="tag is-primary"><%= @supply.category.name %></span></a>
                </section>
                <section class="block">
                    <h3 class="title">Owner</h3>
                    <p class="subtitle"><%= @supply.user.username %></p>
                </section>
                <section class="block">
                    <h3 class="title">Description</h3>
                    <p class="subtitle"><%= @supply.description %></p>
                </section>
                <section class="block">
                    <h3 class="title">Date Added</h3>
                    <p class="subtitle"><%= @supply.created_on.strftime("%B %-d, %Y") %></p>
                </section>
                    <div class="columns is-centered pt-4">
        <div class="column is-one-third">
                <section class="level">
                    <% if @supply.user == current_user %>
                    <a href="<%= @supply.id %>/edit" class="level-item button is-primary mx-2">Edit</a>
                    <form action="/supplies/<%= @supply.id %>/delete" method="post">
                        <input type="hidden" id="hidden" name="_method" value="delete">
                        <input type="submit" class="level-item button is-warning mx-2" name="delete" id="delete" value="Delete">
                    </form>
                    <% end %>
                </section>
                </div>
                </div>
            </section>
        </div>
    </div>
</div>