<div class="container pt-6">
    <h2 class="title has-text-centered"><%= @supply.name %></h2>

    <div class="columns is-centered">
        <div class="column is-half">
            <section class="section has-background-primary-light box has-text-centered">
                <section class="block">
                    <h3 class="title">Category</h3>
                        <a href="/categories/<%= @supply.category.id %>"><span class="tag is-primary"><%= @supply.category.name %></span></a>
                </section>
                <section class="block">
                    <h3 class="title">Owner</h3>
                    <p class="subtitle"><%= @supply.user.username %></p>
                </section>
                <section class="block">
                    <h3 class="title">Description</h3>
                    <p class="subtitle"><%= @supply.description %></p>
                </section>
                <section class="block">
                    <h3 class="title">Date Added</h3>
                    <p class="subtitle"><%= @supply.created_on %></p>
                </section>
                <section class="block">
                    <% if @supply.user == current_user %>
                    <a href="<%= @supply.id %>/edit" class="button is-primary">Edit</a>
                    <a href="<%= @supply.id %>/delete" class="button is-primary">Delete</a>
                    <% end %>
                </section>
            </section>
        </div>
    </div>
</div>