<div class="container pt-6">
    <h2 class="title has-text-centered"><%= @category.name.split(" ").map(&:capitalize).join(" ") %></h2>

    <section class="section">
        <div class="columns is-multiline">

            <div class="column is-3">
                <aside class="menu">
                    <p class="menu-label">
                        Categories
                    </p>
                    <ul class="menu-list">
                    <% Category.all.each do |category| %>
                        <li><a 
                        <% if category.name == @category.name %>
                        class="is-active" 
                        <% end %> href="/categories/<%= category.id %>"><%= category.name %></a></li>
                    <% end %>
                    </ul>
                </aside>
            </div>

            <% @category.supplies.all.limit(2).each do |supply| %>
            <div class="column is-one-fifth-widescreen is-one-third-tablet">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title"><%= supply.name %></p>
                    </header>
                    <div class="card-image">
                        <figure class="image is">
                            <img src="https://via.placeholder.com/150x100.png" alt="Placeholder Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <p><%= supply.description %></p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="/supplies/<%= supply.slug %>" class="card-footer-item">View</a>
                    </footer>
                </div>
            </div>
            <% end %>

        </div>
    </section>
</div>